<div class="pages">
	<div data-page="projects" class="page no-toolbar no-navbar">
		<div class="page-content">

			<div class="page_content_menu">
				<nav class="main-nav">
					<ul>
						<!--<li><a href="{{ path('homepage') }}"><img src="{{ absolute_url(asset('ressources/images/icons/white/home.png')) }}" alt="" title="" /><span>Accueil</span></a></li>
						<li><a href="#" data-popup=".popup-rapport"><img src="{{ absolute_url(asset('ressources/images/icons/white/form.png')) }}" alt="" title="" /><span>Rapports</span></a></li>-->
						<li><a href="tabs.html"><img src="{{ absolute_url(asset('ressources/images/icons/white/slider.png')) }}" alt="" title="" /><span>Statistiqes</span></a></li>
						<li><a href="tables.html"><img src="{{ absolute_url(asset('ressources/images/icons/white/user.png')) }}" alt="" title="" /><span>Agents</span></a></li>
						<li><a href="{{ path('rapport_index') }}"><img src="{{ absolute_url(asset('ressources/images/icons/white/blog.png')) }}" alt="" title="" /><span>Journal</span></a></li>
						<li><a href="photos.html"><img src="{{ absolute_url(asset('ressources/images/icons/white/photos.png')) }}" alt="" title="" /><span>Gallery</span></a></li>

					</ul>
				</nav>
				<div class="close_popup_button"><a href="#" class="backbutton"><img src="{{ absolute_url(asset('ressources/images/icons/white/menu_close.png')) }}" alt="" title="" /></a></div>
			</div>

		</div>
	</div>
</div>
