{% for zone in zones %}
	<!-- zone {{ zone.id }} -->
	<div class="popup popup-zones{{ zone.id }}">
		<div class="content-block-login">
			<div class="loginform">
				<form id="LoginForm" method="post" action="{{ path('zone_edit', {'slug': zone.slug}) }}">
					<input type="hidden" name="zone" value="{{ zone.id }}">
					<input type="submit" name="submit" class="form_submit" id="submit" value="Modifier la zone" />
				</form>
			</div>
			<div class="close_loginpopup_button"><a href="#" class="close-popup"><img src="{{ asset('ressources/images/icons/white/menu_close.png') }}" alt="" title="" /></a></div>
		</div>
	</div>
{% endfor %}
