<div class="pages">
    <div data-page="projects" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages">
                <div class="nav_left_logo"><a href="{{ path('homepage') }}"><img src="{{ absolute_url(asset('ressources/images/logo-02.png')) }}" alt="" title="" /></a></div>
                <div class="nav_right_button"><a href="{{ path('menu') }}"><img src="{{ absolute_url(asset('ressources/images/icons/white/menu.png')) }}" alt="" title="" /></a></div>
            </div>
            <div id="pages_maincontent">

                <h2 class="page_title">Enregistrement du rapport</h2>

                <div class="page_content">

                    <div class="" id="contactForm">
                        {{ form_start(form) }}

                        <label>Date:</label>
                        {{ form_widget(form.date) }}

                        <label>Ville:</label>
                        {{ form_widget(form.ville) }}

                        <label>quartier:</label>
                        {{ form_widget(form.quartier) }}

                        <label>Population:</label>
                        {{ form_widget(form.population) }}

                        <label>Stratégies mise en place:</label>
                        {{ form_widget(form.strategie) }}

                        <label>Difficultés rencontrées:</label>
                        {{ form_widget(form.difficulte) }}

                        <label>Solutions:</label>
                        {{ form_widget(form.solution) }}
                        {{ form_rest(form) }}

                        <input type="submit" name="submit" class="form_submit"   value="Envoyer" />
                        {{ form_end(form) }}
                    </div>



                </div>

            </div>


        </div>
    </div>
</div>
