{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pages">
        <div data-page="projects" class="page no-toolbar no-navbar">
            <div class="page-content">

                <div class="navbarpages">
                    <div class="nav_left_logo"><a href="#" data-panel="left" class="open-panel"><img src="{{ absolute_url(asset('ressources/images/logo-02.png')) }}" alt="" title="" /></a></div>
                    <div class="nav_right_button">
                        <a href="#" data-panel="left" class="open-panel"><img src="{{ absolute_url(asset('ressources/images/icons/white/menu.png')) }}" alt="" title="" /></a>
                    </div>
                </div>
                <div id="pages_maincontent">


                    <h2 class="page_title">Enregistrement du rapport</h2>

                    <div class="page_content">

                        <div class="contactform" id="contactForm">
                            {{ form_start(form) }}

                            <label>Zone:</label>
                            {{ form_widget(form.libelle) }}

                            <label>Objectif:</label>
                            {{ form_widget(form.objectif) }}

                            <input type="submit" name="submit" class="form_submit"   value="Envoyer" />
                            {{ form_end(form) }}
                        </div>



                    </div>


                    <h2 class="page_title">Liste des zones</h2>

                    <div class="page_content">


                        <ul class="responsive_table">
                            <li class="table_row">
                                <div class="table_section_small">N°</div>
                                <div class="table_section">Zones</div>
                                <div class="table_section">Objectifs</div>
                            </li>
                            {% for zone in zones %}
                                <li class="table_row">
                                    <div class="table_section_small">{{ loop.index }}</div>
                                    <div class="table_section">{{ zone.libelle }} &nbsp;

                                    </div>
                                    <div class="table_section">
                                        <a href="#" data-popup=".popup-zones{{ zone.id }}" class="open-popup">
                                            {% if zone.statut %}
                                                <span style="font-size: 1.1em; font-weight: bold; color: #0b8606;">{{ zone.objectif|number_format(0, '.', ' ') }}</span>
                                            {% else %}
                                                <span style="font-size: 1.1em; font-weight: bold; color: #f20c0f;">{{ zone.objectif|number_format(0, '.', ' ') }}</span>
                                            {% endif %}
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>



                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}
