{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zone</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zone.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ zone.libelle }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if zone.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ zone.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ zone.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ zone.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ zone.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ zone.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('zone_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('zone_edit', { 'id': zone.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
