{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pages">
        <div data-page="projects" class="page no-toolbar no-navbar">
            <div class="page-content">

                <div class="navbarpages">
                    <div class="nav_left_logo"><a href="#" data-panel="left" class="open-panel"><img src="{{ absolute_url(asset('ressources/images/logo-02.png')) }}" alt="" title="" /></a></div>
                    <div class="nav_right_button">
                        <a href="#" data-panel="left" class="open-panel"><img src="{{ absolute_url(asset('ressources/images/icons/white/menu.png')) }}" alt="" title="" /></a>
                    </div>
                </div>
                <div id="pages_maincontent">

                    <h2 class="page_title">Liste des gestionnaires</h2>

                    <div class="page_content">


                        <ul class="responsive_table">
                            <li class="table_row">
                                <div class="table_section_small">N°</div>
                                <div class="table_section">Users</div>
                                <div class="table_section">Zones</div>
                            </li>
                            {% for gestionnaire in gestionnaires %}
                                <li class="table_row">
                                    <div class="table_section_small">{{ loop.index }}</div>
                                    <div class="table_section"><a href="{{ path('admin_gestionnaire_edit', {'slug': gestionnaire.slug}) }}">{{ gestionnaire.user.username }}<span style="font-size: 0.8em; font-weight: bold; color: #0303ab;"> ({{ gestionnaire.contact }})</span></a></div>
                                    <div class="table_section">{{ gestionnaire.zone.libelle }}</div>
                                </li>
                            {% endfor %}
                        </ul>



                    </div>

                </div>


            </div>
        </div>
    </div>
{% endblock %}
